<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - All Time Music</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<body class="main-content">
    <header>
        <div class="navbar-container">
            <ul class="navbars-content">
                <li class="navbar-item">
                    <a class="navbar-link" href="#">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#">New Music</a></li>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#">Bands</a></li>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#">Albums</a></li>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#">Labels</a></li>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#">Genres</a></li>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#">Reviews</a></li>
                </li>
                <li class="navbar-item-log">
                    <a class="navbar-link" href="#">Log In</a></li>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>