{% extends '_base.html' %}

{% block title %}Band details{% endblock title %}

{% block content %}
    <div class="title">
        <h1>{{ band.name }}</h1>
    </div>
    <div class="details">
        <h3>Country of origin: {{ band.country_of_origin }}</h3>
        <h3>Location: {{ band.location }}</h3>
        <h3>Status: {{ band.get_status_display }}</h3>
        <h3>Formed in: {{ band.formed_in }}</h3>
        <h3>Ended in: {{ band.ended_in }}</h3>
        <h3>Genre: {% for genre in band.genre.all %} {{ genre }} {% endfor %}</h3>
        <h3>Lyrical themes: {{ band.lyrical_themes }}</h3>
        <h3>Current label: {{ band.current_label }}</h3>
        <h3>Bio: {{ band.bio }}</h3>
        <h3>Members: {% for member in band.members.all %} {{ member }} {% endfor %}</h3>
    </div>
    <div class="adding-info">
        <p>Added: {{ band.added }}</p>
        <p>Added by: {{ band.added_by }}</p>
        <p>Modified: {{ band.modified }}</p>
    </div>
{% endblock content %}
