{% extends '_base.html' %}

{% block title %}Musician details{% endblock title %}

{% block content %}
    <div class="title">
        <h1>{{ musician.name }}</h1>
        <h3>{{ musician.full_name }}</h3>
    </div>
    <div class="details">
        <h3>Born: {{ musician.born }}</h3>
        <h3>Died: {{ musician.died }}</h3>
        <h3>Place of birth: {{ musician.place_of_birth }}</h3>
        <h3>Bio: {{ musician.bio }}</h3>
    </div>
    <div class="adding-info">
        <p>Added: {{ musician.added }}</p>
        <p>Added by: {{ musician.added_by }}</p>
        <p>Modified: {{ musician.modified }}</p>
    </div>
{% endblock content %}
